### Node
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# node-waf configuration
.lock-wscript

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules
jspm_packages
dictionaries

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

### WebStorm
.idea

# Other
*.DS_Store
/deploy.sh

# The production folder contains the repository that gets pushed to the site:
production
client
config.json
